
<br><br>
====================================page 3==========================================================================
<h1>fortesting works!</h1>



<br><br>
==============================================================================================================
<br><br>


<p>myName 4: <input name="myName" [ngModel]="username" type="text" #myName/></p>
<p>Result :- {{username}}</p>

<br><br>
==============================================================================================================
<br><br>



<br><br>
==============================================================================================================
<br><br>
<ul>
    @for(user of users;track user.id;let index =$index){
        <li>{{index}}.{{user.name}}</li>
    }@empty{
        <span>Empty list of users</span>
    }
</ul>



<br><br>
==============================================================================================================
<br><br>

<!-- <ul>
   <li *ngFor="let user of users;let i=index;">
    {{i}}.{{user.name}}
   </li>
</ul> -->



<br><br>
==============================================================================================================
<br><br>


@switch(type){
    @case(1){
        <div>div 1 div</div>
    }
    @case(2){
        <div>div 2 div</div>
    }
    @default{
        <div>div default div</div>
    }
}

<br><br>
==============================================================================================================
<br><br>

@if(type==1){
    <h2>if</h2>
}@else{
    <h2>else</h2>
}

<br><br>
==============================================================================================================
<br><br>
<h1 *ngIf="show; then  ifblock else  elseblock"></h1>

<ng-template #ifblock>
    <h3>ng if</h3>
</ng-template>

<ng-template #elseblock>
    <h3>ng else block</h3>
</ng-template>

<br><br>
==============================================================================================================
<br><br>

<br><br>
==============================================================================================================
<br><br>

==============================================================================================================
<br><br>