==============================================================================================================
<br><br>

<h1>childcomponent works!</h1>

data from child
{{item}}
<br>
==============================================================================================================
<br>
list from child
<br>
<ul *ngFor="let fruit of frutisFromParent;">
    <li>{{fruit}}</li>
</ul> <br>
==============================================================================================================

<br>
Counter from child
<br>
{{childCounter}}
<br>

==============================================================================================================